<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet" />
<style>
  * { 
  font-family: 'Source Sans Pro';
  }
</style>

<div class="group my-2 md:my-10 flex w-full flex-col overflow-hidden bg-white py-2">
  <a class="relative flex h-[250px] w-full md:h-80 overflow-hidden" href="{{ product.url }}">
    <img class="absolute top-0 right-0 h-full w-full object-cover" src="{{ product.featured_image | image_url }}" alt="product image" />
    <div class="absolute -right-16 bottom-0 mb-4 transition-all duration-300 group-hover:right-0">
      {% comment %}
      <button class="flex h-10 w-10 items-center justify-center bg-gray-900 text-white transition hover:bg-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
      </button>
    {% endcomment %}
      <button class="flex h-10 w-10 items-center justify-center bg-gray-900 text-white transition hover:bg-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3.75H6A2.25 2.25 0 003.75 6v1.5M16.5 3.75H18A2.25 2.25 0 0120.25 6v1.5m0 9V18A2.25 2.25 0 0118 20.25h-1.5m-9 0H6A2.25 2.25 0 013.75 18v-1.5M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>        
      </button>
    
    </div>
  </a>
  <div class="mt-4 pb-2 md:pb-5">
    <a href="{{ product.url }}">
      <h5 class="text-center tracking-tight text-gray-500">{{ product.title }}</h5>
    </a>
    <div class="mb-5 flex justify-center">
      <p>
        <span class="text-sm font-bold text-gray-900">{{ product.price | money }}</span>
        <span class="text-sm text-gray-400 line-through">{{ product.compare_at_price | money }}</span>
      </p>
    </div>
  </div>
</div>
