
<div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10 h-fit">
  <a href="{{ product.url }}">
    <div class="px-4 py-2">
      <h2 class="text-gray-900 text-xl uppercase">{{ product.title | truncate: 30 }}</h1>
      <p class="text-gray-600 text-sm mt-1">{{ product.vendor }}</p>
    </div>
    <img class="h-56 w-full object-cover mt-2" src="{{ product.featured_image | image_url }}" alt="NIKE AIR">
    <div class="flex items-center justify-between px-4 py-2 bg-gray-300">
      <h1 class="text-gray-800 font-bold text-xl">{{ product.price | money }}</h1>
      <a href="{{ product.url }}"><button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">View Now</button></a>
    </div>
    </a>
  </div>
