<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap" rel="stylesheet">

    <style>
      h4,
      h5,
      h6,
      button,
      marquee,
      label {
        font-family: 'Kanit', sans-serif;
      }
    </style>

    <section class="w-screen h-[30px] flex items-center bg-[#ecebe9]">
      <div class="flex flex-grow">
        <div class="offercode flex items-center h-[30px] w-fit px-6 py-2 bg-white border border-dotted border-black">
          <h5 class="text-xs font-light">GETFREE</h5>
        </div>
        <div class="flex items-center">
          <h6 class="text-black sm:text-xs text-[0.55rem] ml-2 sm:w-[40vw] font-extralight">
            SHIPPING IS ON US, YOUR JOY, OUR TREAT!
          </h6>
        </div>
      </div>
      <div class="flex justify-end items-center px-2">
        <div class="callicon h-[18px] w-[18px] flex items-center mr-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-black"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
          </svg>
        </div>
        <div class="mailicon h-[20px] w-[20px] flex items-center mr-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-black"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
          </svg>
        </div>
      </div>
    </section>
    <nav class="w-screen h-[50px] border-b-[1px] border-gray-500 flex items-center sticky top-0 z-50 bg-[#fcfcfc]">
      <div class="main_logo h-[40px] w-fit flex justify-center items-center px-4 border-r-[1px] border-black">
        <a href="{{ shop.url }}" class="flex">
        <svg width="40" height="30" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="3" y="3" width="95" height="95" fill="black"/>
          <g clip-path="url(#clip0_69_33)">
          <path d="M36.1408 11.6363C36.754 11.5732 37.1207 11.9251 37.5191 12.3393L43.354 17.5715C47.5118 21.0179 50.0116 23.637 51.839 29.0354C50.685 28.7018 49.1743 28.9365 48.054 29.3395C46.0015 30.0776 44.5786 31.5034 43.6596 33.4523C43.245 34.4025 42.8671 35.3636 42.8385 36.4104L42.7154 36.124C42.0086 34.197 39.2111 31.9181 37.58 30.8614C36.0586 29.8756 34.3069 29.0747 34.2191 26.9587C34.1936 26.3465 34.586 25.9891 34.9716 25.5706C34.3713 24.9381 33.5179 24.2061 33.3207 23.3237L33.3082 23.2662C33.0615 22.1557 33.7569 21.618 34.6172 21.0506L33.8355 19.993C33.5747 19.5679 33.3744 18.8899 33.5016 18.3926L33.5152 18.3443C33.6085 18.0044 33.8096 17.7465 34.0686 17.513C34.1215 17.4655 34.663 17.0343 34.663 17.0343C34.6866 16.8895 33.8404 15.8553 34.01 15.2006L34.021 15.1607C34.0897 14.8386 34.2891 14.5315 34.4649 14.2556C34.8747 13.6122 34.3325 11.9106 36.1408 11.6363Z" fill="white"/>
          <path d="M87.8342 25.0312C88.3217 25.1101 88.7172 25.1692 89.0342 25.5879L89.0719 25.6394C90.295 27.2948 88.288 29.0618 87.1736 30.0598L85.877 31.1938C86.2587 31.5174 86.5987 31.8692 86.7878 32.341L86.8148 32.4106C87.4328 33.9552 85.3941 35.117 84.3159 35.7412L83.0853 36.4979C85.2558 39.1251 82.213 40.4377 80.1756 41.4787L80.6091 42.3298C81.535 44.6615 78.1055 45.9743 76.4841 46.6026C76.8772 47.7102 76.5097 48.1856 75.6878 49.0104C71.4348 53.2779 64.0611 51.6785 63.6758 52.0334C63.7361 52.0937 63.7944 52.1517 63.8269 52.232C64.2583 53.2998 67.1575 55.6771 68.0723 56.2853L70.2819 57.612L85.2261 65.5798L87.2411 66.826C88.2039 67.4546 89.3786 68.2234 89.1512 69.5638L89.1162 69.7732C88.5886 72.7565 82.7147 72.4209 80.5845 72.0406C78.1848 71.612 75.9908 70.4017 73.7455 69.5156C74.4952 70.4763 75.3152 70.864 75.6116 72.1323C75.1111 73.602 73.7689 72.4681 72.9477 71.9748L62.2955 65.6593C61.4761 65.1468 61.7331 65.4049 60.7734 65.7809C59.1998 66.3971 57.5297 66.8993 55.8587 67.1634C57.0478 71.9848 59.5355 73.9385 63.6581 76.6409L67.4203 79.0409C69.9259 80.5702 69.3005 81.3354 67.5145 82.9487C65.8717 84.4324 63.3009 86.4581 61.1005 87.0182C59.9158 87.3199 58.1872 84.6803 56.9377 83.9632C57.3966 85.5617 58.172 86.5093 58.7373 87.9224C57.9566 88.4873 57.0064 88.8143 56.1072 89.1406L53.2453 90.1571C53.033 90.2351 52.8103 90.3142 52.6083 90.4162C51.8867 90.7809 51.0356 90.8568 50.2412 90.6452C49.8272 90.5348 49.4127 90.3332 49.0173 90.1676L47.9636 89.7601C46.7811 89.3018 44.4695 88.6731 43.5806 87.7929C43.7241 87.3512 43.9955 87.006 44.2258 86.611C44.7086 85.7826 45.1292 84.8232 45.3105 83.8784C43.9486 84.8067 42.4966 87.5107 40.6345 86.8952C39.9064 86.6548 39.2375 86.2663 38.5986 85.8476C37.4267 85.0857 32.8191 81.8857 33.5295 80.1479L33.5492 80.1012C33.8256 79.4329 34.8845 79.0612 35.4613 78.7231L38.4214 76.8952C42.5831 74.1862 46.6569 71.147 46.678 65.7748L46.6739 64.884C46.6691 64.2296 46.6747 64.4338 46.1384 64.1181C41.8438 61.5892 38.8314 58.2596 36.7506 53.7002L36.0369 51.9121L32.6109 52.0176C29.3648 52.0142 25.8656 51.2501 23.7926 48.5149C23.3113 47.8799 23.2234 47.352 23.3473 46.5656L23.3543 46.5245C21.3389 45.6332 17.6697 44.241 19.6824 41.439C18.9267 40.9406 18.0905 40.6402 17.3422 40.1031L17.2328 40.0242C15.8134 38.9318 15.7862 37.7829 16.8513 36.4818C15.8694 35.7371 12.3355 34.2368 13.1396 32.3595L13.1625 32.3082C13.6788 31.0898 14.4317 31.6204 13.6508 30.8688L12.513 29.7578C11.6637 28.9407 10.2388 27.6021 10.7168 26.2517L10.7383 26.1949C10.8602 25.8468 11.0268 25.5047 11.3593 25.3103L11.4018 25.2866C11.8909 25.0103 12.4885 24.9757 12.9522 25.3342L13.896 26.0766C16.8356 28.1662 20.2047 28.5346 23.6898 29.0073L33.3811 30.5928C37.5569 31.4529 40.65 34.5878 42.4183 38.3199C42.5223 38.5398 42.7906 39.3768 43.0583 39.4176C44.0923 38.3807 44.5 35.074 45.2172 33.4756C46.4559 30.7143 49.945 29.5727 52.6437 30.8351C53.8136 31.3824 55.5164 32.8701 55.988 34.1051L56.0233 34.2006C56.4242 35.5476 54.9305 35.6613 54.9514 36.3579L54.9544 36.4621C54.997 37.1898 55.4247 39.5676 55.6253 40.2184C55.8131 40.8276 56.2505 40.6713 56.4673 40.1502L56.8677 39.1537C59.8592 32.3485 63.5897 31.0693 70.1937 30.014L76.5609 28.9528C79.9481 28.4528 83.4066 28.1973 86.205 25.9913C86.5733 25.701 87.0395 25.2113 87.5078 25.1014L87.8342 25.0312Z" fill="white"/>
          </g>
          <defs>
          <clipPath id="clip0_69_33">
          <rect width="80" height="80" fill="white" transform="translate(10 11)"/>
          </clipPath>
          </defs>
        </svg>
        <h6 class="font-light">DAMOR</h6>
      </a>
      </div>
      <div class="md:flex flex-grow ml-4 my-auto hidden">
        <a href="{{ shop.url }}" class="pr-4"><h5 class="text-sm font-light">HOME</h5></a>
        <a href="/collections/new-arrivals" class="pr-4"><h5 class="text-sm font-light">NEW ARRIVALS</h5></a>
        <a href="/collections/40-off" class="pr-4"><h5 class="text-sm text-red-600 font-light">UPTO 40%</h5></a>
      </div>
      <div class="flex mr-2 flex-grow justify-end">
        <div class="navicons flex items-center">
          <a href="#" class="search_trigger px-2 sm:flex h-[30px] hidden">
            <div class="flex my-auto h-[25px] w-[100px] border-b-[1px] border-black items-center">
              <div class="w-[20px] h-[20px]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-[20px] h-[20px] my-auto"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </div>
              <h6 class="pl-2 text-gray-400 flex-grow font-light">search</h6>
            </div>
          </a>
          {% comment %}
            account_icon
          <div clas="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="account_icon w-6 h-6 mr-2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </div>
      {% endcomment %}
        
          <a href="#" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false" class="relative h-[50px] flex items-center justify-center mr-1">
          
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="cart_icon w-[24px] h-[24px] mr-2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
          <span class="cart_count hidden absolute top-2 right-0 h-fit bg-black text-white rounded-full p-1 px-2 text-[0.4rem] sm:text-[0.4rem] md:text-[0.6rem] font-extralight"></span>
        </a>
      
      <a href="#" class="h-[50px] flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="menu_icon w-[24px] h-[24px] mr-2 block md:hidden"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
          </svg>
        </a>
        </div>
      </div>
    </nav>

    <section class="search_wrapper border-b-[1px] border-gray-500 hidden">
      <form action="{{ routes.search_url }}" method="get" class="flex-auto">
      <div class="w-screen p-4 flex items-center justify-center text-[0.6rem] sm:text-[0.8rem] md:text-[1rem]">
        <input type="search" name="q" class="w-8/12 border-b-[1px] border-gray-300 py-2 mr-2 pl-1 focus:border-b-0 focus:border-l-[1px] focus:ring-none focus:outline-none focus:ring-opacity-0 font-light" placeholder="what are you looking for?">
        <div class="flex flex-grow">
        <button type="submit" class="px-6 sm:px-8 mt-2 flex items-center justify-center border border-gray-500 font-normal">Search</button>
        </div>
        <div class="search_trigger_close mr-auto cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[24px] h-[24px]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          
        </div>
      </div>
    </form>
    </section>
    <script>
      document.querySelector(".search_trigger").addEventListener("click", (e) => {
        e.preventDefault();
        document.querySelector(".search_wrapper").classList.remove("hidden");
        document.querySelector(".search_trigger").classList.remove("sm:flex");
      });

      document.querySelector(".search_trigger_close").addEventListener("click", (e) => {
        e.preventDefault();
        document.querySelector(".search_wrapper").classList.add("hidden");
        document.querySelector(".search_trigger").classList.add("sm:flex");
      });
      
    </script>
    
    <main role="main">
      {{ content_for_layout }}
      {% section 'cart-drawer' %}
      <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
      {{ 'drawer.js' | asset_url | script_tag }}
    </main>
    {% section 'footer' %}
  </body>
</html>
