<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="icon"
      type="image/x-icon"
      href="https://jugaadtee.in/cdn/shop/files/logoforblack.png?v=1704971682&width=3000"
    >
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap"
      rel="stylesheet"
    >

    <style>
      * {
        font-family: 'Kanit', sans-serif;
      }
    </style>

    <section class="w-screen bg-black flex items-center justify-center p-3">
      <div>
        <h6 class="text-white text-center text-xs">
          <span class="text-red-500">CELEBRATIONS SALE IS LIVE </span> - COD AVAILABLE
        </h6>
      </div>
    </section>

    {% comment %}
      <section class="w-screen h-[30px] flex items-center bg-[#ecebe9]">
        <div class="flex flex-grow">
          <div class="offercode flex items-center h-[30px] w-fit px-6 py-2 bg-white border border-dotted border-black">
            <h5 class="text-xs font-light">GETFREE</h5>
          </div>
          <div class="flex items-center">
            <h6 class="text-black sm:text-xs text-[0.55rem] ml-2 sm:w-[40vw] font-extralight">
              SHIPPING IS ON US, YOUR JOY, OUR TREAT!
            </h6>
          </div>
        </div>
        <div class="flex justify-end items-center px-2">
          <div class="callicon h-[18px] w-[18px] flex items-center mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-black"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
          </div>
          <div class="mailicon h-[20px] w-[20px] flex items-center mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-black"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
          </div>
        </div>
      </section>
    {% endcomment %}
    <nav class="w-screen h-[50px] border-b-[1px] border-gray-500 flex items-center sticky top-0 z-50 bg-[#fcfcfc]">
      <div class="main_logo h-[40px] w-fit flex justify-center items-center px-4 border-r-[1px] border-black">
        <a href="{{ shop.url }}" class="flex justify-center items-center">
          <svg class="mr-2" width="40" height="40" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="95" height="95" fill="#121212"/>
            <path d="M69.1948 32.361C68.9762 33.1368 68.5896 33.8653 68.0571 34.5047C67.5246 35.1441 66.8567 35.682 66.0914 36.0877C65.3261 36.4934 64.4785 36.7589 63.5969 36.8692C62.7154 36.9794 61.8171 36.9321 60.9534 36.73C59.2092 36.3219 57.7118 35.3082 56.7906 33.9117C55.8694 32.5153 55.5999 30.8505 56.0414 29.2837C56.26 28.5079 56.6466 27.7795 57.179 27.1401C57.7115 26.5007 58.3795 25.9627 59.1447 25.557C59.91 25.1513 60.7576 24.8858 61.6392 24.7756C62.5208 24.6654 63.419 24.7127 64.2827 24.9147C66.027 25.3228 67.5244 26.3366 68.4456 27.7331C69.3668 29.1295 69.6362 30.7942 69.1948 32.361ZM65.8398 31.0162C65.8669 30.6439 65.8109 30.2704 65.6751 29.9167C65.5393 29.5631 65.3262 29.2363 65.048 28.9552C64.7699 28.674 64.4321 28.4438 64.0541 28.2779C63.676 28.1119 63.2649 28.0134 62.8445 27.9879C61.9953 27.9365 61.1591 28.1859 60.5199 28.6811C59.8806 29.1763 59.4907 29.8768 59.436 30.6286C59.4088 31.0008 59.4648 31.3744 59.6006 31.728C59.7365 32.0817 59.9495 32.4084 60.2277 32.6896C60.5058 32.9708 60.8436 33.2009 61.2217 33.3669C61.5998 33.5329 62.0108 33.6314 62.4313 33.6568C63.2804 33.7082 64.1166 33.4589 64.7559 32.9637C65.3951 32.4684 65.785 31.7679 65.8398 31.0162Z" fill="#C5BB49"/>
            <path d="M32.0553 39.0719C30.3222 38.2444 28.9023 37.1585 27.7956 35.8144C26.2777 33.9717 25.5158 31.8815 25.51 29.544C25.5076 28.0887 25.5088 26.6883 25.5137 25.3426C25.5146 25.3036 25.5364 25.2841 25.5792 25.2841L28.7573 25.2998C28.7665 25.2998 28.7756 25.3015 28.7841 25.3047C28.7926 25.308 28.8003 25.3127 28.8067 25.3187C28.8131 25.3247 28.8182 25.3318 28.8216 25.3395C28.825 25.3473 28.8267 25.3557 28.8265 25.364C28.8216 26.4378 28.8224 27.5541 28.829 28.7127C28.8331 29.562 28.9122 30.3046 29.0663 30.9407C29.7833 33.8917 32.1851 36.0307 35.4237 36.7887C35.4344 36.7912 35.4438 36.7969 35.4505 36.8049C35.4572 36.8128 35.4609 36.8226 35.4608 36.8327L35.4682 50.5146C35.4681 50.5353 35.4604 50.5553 35.4462 50.5713C35.432 50.5873 35.4123 50.5983 35.3903 50.6024C34.2622 50.8255 33.1847 51.1769 32.1579 51.6567C32.1534 51.6586 32.1485 51.6595 32.1435 51.6593C32.1386 51.6591 32.1338 51.6578 32.1296 51.6556C32.1255 51.6534 32.122 51.6502 32.1196 51.6465C32.1172 51.6427 32.1159 51.6385 32.1158 51.6342L32.1183 39.1665C32.1183 39.1237 32.0973 39.0921 32.0553 39.0719Z" fill="#C5BB49"/>
            <path d="M47.2328 48.1267L47.2587 55.0718C47.2587 55.0974 47.2501 55.1004 47.2328 55.0809C46.3362 54.0776 45.2817 53.1886 44.0695 52.4136C43.9447 52.3337 43.9039 52.2176 43.9039 52.0847C43.9014 50.7932 43.9002 49.4629 43.9002 48.094C43.9002 48.0788 43.8935 48.0642 43.8817 48.0534C43.8699 48.0426 43.8539 48.0366 43.8371 48.0366L38.1807 48.04C38.1548 48.04 38.1299 48.0305 38.1116 48.0136C38.0933 47.9967 38.083 47.9738 38.083 47.9499L38.0892 25.3809C38.0892 25.3618 38.0977 25.3435 38.1127 25.33C38.1278 25.3164 38.1482 25.3088 38.1695 25.3088L52.8064 25.3122C52.8409 25.3122 52.8741 25.3246 52.8986 25.3468C52.9232 25.3689 52.9371 25.399 52.9374 25.4305L52.9597 44.9008C52.9597 44.919 52.9678 44.9365 52.9821 44.9494C52.9965 44.9623 53.016 44.9695 53.0363 44.9695L63.5198 44.9391C63.5392 44.9391 63.5577 44.946 63.5714 44.9582C63.5851 44.9705 63.5928 44.9871 63.5928 45.0044C63.6134 48.2206 63.6175 51.371 63.6051 54.4557C63.6002 55.6775 63.5775 56.4287 63.5371 56.7096C63.0489 60.1303 59.8795 62.6083 56.0772 62.3234C54.1134 62.1769 52.4998 61.4084 51.2365 60.0177C50.471 59.1759 49.9753 58.2305 49.7495 57.1815C49.649 56.71 49.6016 55.9737 49.6073 54.9727C49.6197 52.7455 49.6218 50.4519 49.6135 48.0918C49.6132 48.0776 49.6069 48.0642 49.5961 48.0543C49.5852 48.0444 49.5706 48.0388 49.5554 48.0388L47.3242 48.0445C47.2632 48.0445 47.2328 48.0719 47.2328 48.1267ZM43.9311 31.6784L47.0869 31.6672C47.1151 31.6672 47.1421 31.6774 47.1621 31.6955C47.182 31.7137 47.1932 31.7383 47.1932 31.764L47.2068 44.8963C47.2068 44.9241 47.222 44.938 47.2525 44.938L49.5208 44.9335C49.5438 44.9335 49.5658 44.9251 49.582 44.9104C49.5982 44.8956 49.6073 44.8755 49.6073 44.8546C49.6222 39.18 49.6181 33.8117 49.595 28.7499C49.5942 28.6387 49.5913 28.5246 49.5863 28.4075C49.5857 28.3857 49.5758 28.3651 49.5587 28.35C49.5416 28.3348 49.5187 28.3264 49.4949 28.3264L41.402 28.3455C41.3797 28.3455 41.3686 28.356 41.3686 28.377L41.3958 44.9211C41.3958 44.9481 41.4102 44.9616 41.4391 44.9616L43.7457 44.9549C43.7666 44.9549 43.7868 44.9473 43.8016 44.9337C43.8164 44.9202 43.8248 44.9019 43.8248 44.8828L43.8408 31.7606C43.8408 31.7388 43.8504 31.7179 43.8673 31.7025C43.8842 31.6871 43.9071 31.6784 43.9311 31.6784ZM60.1316 47.9893L53.019 48.0005C52.9944 48.0005 52.9709 48.0094 52.9535 48.0253C52.9361 48.0411 52.9263 48.0626 52.9263 48.085L52.9411 55.6429C52.942 56.1094 53.0363 56.5711 53.2185 57.0017C53.4008 57.4324 53.6675 57.8235 54.0033 58.1527C54.3392 58.482 54.7377 58.743 55.176 58.9207C55.6144 59.0985 56.084 59.1895 56.558 59.1887H56.6371C57.5943 59.187 58.5115 58.8113 59.187 58.1443C59.8625 57.4772 60.241 56.5734 60.2392 55.6316L60.2244 48.0738C60.2244 48.0514 60.2146 48.0299 60.1972 48.014C60.1798 47.9982 60.1562 47.9893 60.1316 47.9893Z" fill="#C5BB49"/>
            <path d="M65.9238 42.1716L54.8902 42.193C54.8673 42.193 54.8453 42.1846 54.829 42.1696C54.8128 42.1546 54.8037 42.1343 54.8037 42.1131L54.8272 39.2161C54.8275 39.1965 54.8362 39.1779 54.8515 39.1642C54.8668 39.1505 54.8873 39.1429 54.9087 39.1429L69.2972 39.1316C69.3466 39.1316 69.3713 39.1545 69.3713 39.2003C69.3796 44.7322 69.3746 50.221 69.3565 55.6666C69.354 56.4629 69.3689 57.2931 69.249 58.068C68.8732 60.4949 67.7701 62.5697 65.9399 64.2923C63.5855 66.5082 60.6983 67.6259 57.2784 67.6455C54.3105 67.6624 51.5515 66.6621 49.4167 64.771C48.6083 64.0546 47.8703 63.2549 47.0458 62.5351C46.2036 61.8 45.5002 60.95 44.9357 59.9851C44.6078 59.4256 44.2868 58.9 43.9728 58.4082C42.2101 55.6463 38.6587 54.2316 35.2928 55.2082C33.2631 55.7972 31.6425 57.1872 30.9787 59.0209C30.2457 61.0439 30.7154 63.3067 32.2581 64.8859C33.7637 66.4256 36.006 67.1803 38.257 66.964C41.1705 66.6824 43.3819 64.9095 44.4945 62.4631C44.5258 62.394 44.5661 62.3891 44.6156 62.4484C45.3103 63.2677 46.1158 63.9641 47.0322 64.5378C47.0534 64.5509 47.0687 64.5706 47.0753 64.5931C47.0819 64.6157 47.0793 64.6396 47.0681 64.6606C44.9061 68.5871 40.3905 70.815 35.5882 70.0424C33.205 69.6594 31.2111 68.6344 29.6066 66.9674C27.7978 65.0879 26.9708 62.8746 27.1258 60.3275C27.352 56.6116 30.3619 53.29 34.1877 52.176C38.8936 50.8063 44.0012 52.5297 46.6713 56.2309C47.0157 56.7085 47.3466 57.2364 47.6639 57.8146C48.2968 58.9702 49.1336 59.9738 50.1485 60.8715C50.5539 61.2297 50.8827 61.6487 51.2115 62.0655C52.146 63.2504 53.7035 64.04 55.2536 64.3351C57.4918 64.7608 59.5813 64.4687 61.522 63.4588C64.3391 61.9922 66.019 59.2124 66.0202 56.2422C66.0243 51.5625 66.0206 46.8982 66.0091 42.2494C66.0091 42.2392 66.0069 42.2291 66.0026 42.2196C65.9983 42.2102 65.992 42.2016 65.9841 42.1944C65.9762 42.1872 65.9668 42.1815 65.9564 42.1776C65.9461 42.1737 65.935 42.1716 65.9238 42.1716Z" fill="#C5BB49"/>
          </svg>
          <h6 class="font-light">JUGAAD</h6>
        </a>
      </div>
      <div class="lg:flex flex-grow ml-4 my-auto hidden">
        {% for link in linklists['main-menu'].links %}
          <a href="{{ link.url }}" class="pr-4">
            <h5
              class="text-sm font-light"
              {% if link.title == 'All Collections' %}
                style="color:red"
              {% endif %}
            >
              {{ link.title | upcase }}
            </h5>
          </a>
        {% endfor %}
        <a href="/pages/contact" class="pr-4">
          <h5 class="text-sm font-light">CONTACT US</h5>
        </a>
      </div>
      <div class="flex mr-2 flex-grow justify-end">
        <div class="navicons flex items-center">
          <a href="{{ routes.search_url }}" class="search_trigger">
            <div class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-2"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
            </div>
          </a>

          {% if customer %}
            <a href="{{ routes.account_url }}">
              <div clas="hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="account_icon w-6 h-6 mr-2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </div>
            </a>
          {% else %}
            <a href="{{ routes.account_login_url }}">
              <div clas="hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="account_icon w-6 h-6 mr-2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </div>
            </a>
          {% endif %}
          <a
            href="#"
            data-drawer-trigger
            aria-controls="drawer-name"
            aria-expanded="false"
            class="relative h-[50px] flex items-center justify-center mr-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="cart_icon w-[24px] h-[24px] mr-2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
            <span
              class="cart_count hidden absolute top-2 right-0 h-fit bg-black text-white rounded-full p-1 px-2 text-[0.4rem] sm:text-[0.4rem] md:text-[0.6rem] font-extralight"
            ></span>
          </a>

          <a
            href="#"
            data-drawer-trigger
            aria-controls="menu-drawer"
            aria-expanded="false"
            class="h-[50px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="menu_icon w-[24px] h-[24px] mr-2 block lg:hidden"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
            </svg>
          </a>
        </div>
      </div>
    </nav>

    {% comment %}
      <section class="search_wrapper border-b-[1px] border-gray-500 hidden">
        <form action="{{ routes.search_url }}" method="get" class="flex-auto">
          <div class="w-screen p-4 flex items-center justify-center text-[0.6rem] sm:text-[0.8rem] md:text-[1rem]">
            <input
              type="search"
              name="q"
              class="w-8/12 border-b-[1px] border-gray-300 py-2 mr-2 pl-1 focus:border-b-0 focus:border-l-[1px] focus:ring-none focus:outline-none focus:ring-opacity-0 font-light"
              placeholder="what are you looking for?"
            >
            <div class="flex flex-grow">
              <button
                type="submit"
                class="px-6 sm:px-8 mt-2 flex items-center justify-center border border-gray-500 font-normal"
              >
                Search
              </button>
            </div>
            <div class="search_trigger_close mr-auto cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[24px] h-[24px]"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </form>
      </section>
      <script>
        document.querySelector(".search_trigger").addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(".search_wrapper").classList.remove("hidden");
          document.querySelector(".search_trigger").classList.remove("sm:flex");
        });

        document.querySelector(".search_trigger_close").addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(".search_wrapper").classList.add("hidden");
          document.querySelector(".search_trigger").classList.add("sm:flex");
        });
      </script>
    {% endcomment %}

    <script>
      document.querySelector(".search_trigger").addEventListener("click", (e) => {
        e.preventDefault();

      });
    </script>

    <main role="main">
      {{ content_for_layout }}
      {% section 'cart-drawer' %}
      <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
      {% section 'menu-drawer' %}
      {{ 'drawer.js' | asset_url | script_tag }}
    </main>
    {% section 'footer' %}
  </body>
</html>
