{% comment %}
<div class="flex flex-wrap max-w-screen place-items-center">
  <section class="relative mx-auto">
  {% endcomment %}
      <!-- navbar -->
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet" />
      <style>
        * { 
        font-family: 'Source Sans Pro';
        }
      </style>
    <nav class="flex justify-between bg-gradient-to-r from-white to-red-50 max-w-screen text-gray-900 w-screen">
      <div class="px-5 xl:px-12 py-4 flex w-full items-center">
        <a class="text-3xl font-bold font-heading" href="{{ shop.url }}">
          <!-- <img class="h-9" src="logo.png" alt="logo"> -->
          Mole Footwear
        </a>
        <!-- Nav Links -->
        <ul class="menulist hidden md:flex px-2 mx-auto font-heading space-x-5">
          {% for link in linklists[section.settings.menu].links %}
            <li>
              <a
                href="{{ link.url }}"
                class="hover:text-gray-200"
              >
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <!-- Header Icons -->
        <div class="hidden xl:flex items-center space-x-5 items-center">
          <a class="hover:text-gray-200" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
          </a>
          <a class="flex items-center hover:text-gray-200" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            <span class="flex absolute -mt-5 ml-4">
              <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
                </span>
              </span>
          </a>
          <!-- Sign In / Register      -->
          <a class="flex items-center hover:text-gray-200" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          </a>
          
        </div>
      </div>
      <!-- Responsive navbar -->
      <a class="xl:hidden flex mr-4 items-center" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        <span class="flex absolute -mt-5 ml-4">
          <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
          </span>
        </span>
      </a>
      <a class="navbar-burger self-center mr-4 xl:hidden" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
      </a>
    </nav>
{% comment %}
  </section>
</div>
{% endcomment %}

<script>
  const menuToggle = document.querySelector('.navbar-burger');
  const menu = document.querySelector('.menulist');
  
  menuToggle.addEventListener('click', () => {
      menu.classList.toggle('hidden');
  });
</script>
{% comment %}
<header
    x-data="
          {
            navbarOpen: false,
            searchForm: false,
            wishlistOpen: false,
            cartOpen: false,
            submenuOpen: false,
            categories: false,
            categoryOne: true,
          }
        "
    class="w-full bg-white"
  >
    <div class="hidden border-b border-[#e7e7e7] sm:block">
      <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap">
          <div class="w-full px-4 md:w-2/3 lg:w-1/2">
            <ul class="-mx-3 flex items-center">
              <li>
                <a
                  href="javascript:void(0)"
                  class="inline-block py-4 px-3 text-sm font-medium text-body-color hover:text-primary"
                >
                  About Us
                </a>
              <li>
                <a
                  href="support.html"
                  class="inline-block py-4 px-3 text-sm font-medium text-body-color hover:text-primary"
                >
                  Contact Us
                </a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  class="inline-block py-4 px-3 text-sm font-medium text-body-color hover:text-primary"
                >
                  FAQs
                </a>
              </li>
            </ul>
          </div>
          {% comment %}
          <div class="w-full px-4 md:w-1/3 lg:w-1/2">
            <div class="-mx-3 hidden items-center justify-end md:flex">
              <div class="px-3">
                <div class="relative">
                  <select
                    class="w-full appearance-none rounded-lg bg-transparent py-3 pr-4 text-sm font-medium text-body-color outline-none transition"
                  >
                    <option value="">English</option>
                    <option value="">Urdu</option>
                    <option value="">Hindi</option>
                  </select>
                  <span
                    class="absolute right-0 top-1/2 mt-[-2px] h-2 w-2 -translate-y-1/2 rotate-45 border-r border-b border-body-color"
                  >
                  </span>
                </div>
              </div>
              <div class="px-3">
                <div class="relative">
                  <select
                    class="w-full appearance-none rounded-lg bg-transparent py-3 pr-4 text-sm font-medium text-body-color outline-none transition"
                  >
                    <option value="">USD</option>
                    <option value="">INR</option>
                    <option value="">ERU</option>
                  </select>
                  <span
                    class="absolute right-0 top-1/2 mt-[-2px] h-2 w-2 -translate-y-1/2 rotate-45 border-r border-b border-body-color"
                  >
                  </span>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}
        </div>
      </div>
    </div>
    <div class="border-b border-[#e7e7e7]">
      <div class="container mx-auto">
        <div
          class="relative -mx-4 flex items-center justify-center sm:justify-between"
        >
          <div class="w-60 max-w-full px-4 lg:w-48">
            <a href="index.html" class="block w-full py-5 lg:py-3">
              <img
                src="{{ 'logo.png' | asset_img_url : 'large' }}"
                alt="logo"
                class="w-full"
              />
            </a>
          </div>
          <div
            class="flex w-full items-center justify-end px-4 lg:justify-between"
          >
            <div class="flex w-full items-center justify-between px-4">
              <div class="w-full">
                <button
                  @click="navbarOpen = !navbarOpen"
                  :class="navbarOpen && 'navbarTogglerActive' "
                  id="navbarToggler"
                  class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden"
                >
                  <span
                    class="relative my-[6px] block h-[2px] w-[30px] bg-body-color"
                  ></span>
                  <span
                    class="relative my-[6px] block h-[2px] w-[30px] bg-body-color"
                  ></span>
                  <span
                    class="relative my-[6px] block h-[2px] w-[30px] bg-body-color"
                  ></span>
                </button>
                <nav
                  :class="!navbarOpen && 'hidden' "
                  id="navbarCollapse"
                  class="absolute right-4 top-full w-full max-w-[250px] justify-center rounded-lg bg-white py-5 px-6 shadow lg:static lg:flex lg:w-full lg:max-w-full lg:justify-end lg:bg-transparent lg:py-0 lg:px-0 lg:shadow-none"
                >
                  <ul class="block items-center lg:flex">
                    {% for link in linklists[section.settings.menu].links %}
                    <li>
                      <a
                        href="{{ link.url }}"
                        class="flex justify-between py-2 text-base font-medium text-dark hover:text-primary lg:mx-5 lg:inline-flex lg:py-6 2xl:mx-6"
                      >
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                    {% comment %}
                    <li class="group relative lg:py-4">
                      <a
                        href="javascript:void(0)"
                        @click="submenuOpen = !submenuOpen "
                        class="flex items-center justify-between py-2 text-base font-medium text-dark hover:text-primary group-hover:text-primary lg:mx-6 lg:inline-flex lg:py-2"
                      >
                        Products
                        <span class="pl-2">
                          <svg
                            width="11"
                            height="6"
                            viewBox="0 0 11 6"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M5.39683 5.40046C5.20176 5.40046 5.00669 5.33284 4.84413 5.1807L0.487528 0.920728C0.373737 0.802396 0.373737 0.616445 0.471272 0.498112C0.585064 0.37978 0.76388 0.37978 0.877671 0.481208L5.23427 4.74118C5.31555 4.8257 5.46185 4.8257 5.55939 4.74118L9.91599 0.481208C10.0298 0.362875 10.2086 0.37978 10.3224 0.498112C10.4362 0.616445 10.4199 0.802396 10.3061 0.920728L5.94953 5.16379C5.78697 5.31594 5.5919 5.40046 5.39683 5.40046Z"
                              fill="currentColor"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M4.56447 5.4667L0.199071 1.19812C-0.0611467 0.927515 -0.0588086 0.512326 0.16261 0.243696L0.172344 0.231887L0.182952 0.220855C0.450688 -0.0575644 0.874846 -0.0571462 1.14383 0.182609L1.15072 0.188754L5.39683 4.34069L9.63276 0.198704C9.93371 -0.108224 10.3725 -0.0268578 10.6107 0.220855C10.9 0.521698 10.829 0.954046 10.5944 1.19798L10.5854 1.20743L6.22292 5.4559C5.99907 5.66539 5.70971 5.80046 5.39683 5.80046C5.10561 5.80046 4.81129 5.69783 4.5708 5.47274L4.56447 5.4667ZM9.91599 0.481208L5.55939 4.74118C5.46185 4.8257 5.31555 4.8257 5.23427 4.74118L0.877671 0.481208C0.76388 0.37978 0.585064 0.37978 0.471272 0.498112C0.373737 0.616445 0.373737 0.802396 0.487528 0.920728L4.84413 5.1807C5.00669 5.33284 5.20176 5.40046 5.39683 5.40046C5.5919 5.40046 5.78697 5.31594 5.94953 5.16379L10.3061 0.920728C10.4199 0.802396 10.4362 0.616445 10.3224 0.498112C10.2086 0.37978 10.0298 0.362875 9.91599 0.481208Z"
                              fill="currentColor"
                            />
                          </svg>
                        </span>
                      </a>
  
                      <div
                        :class="!submenuOpen ? 'hidden lg:block' : 'block' "
                        class="relative top-full left-0 z-10 rounded-lg bg-white px-2 transition-all group-hover:opacity-100 lg:invisible lg:absolute lg:top-[115%] lg:w-[600px] lg:border-[.5px] lg:border-[#e7e7e7] lg:py-8 lg:px-12 lg:opacity-0 lg:group-hover:visible lg:group-hover:top-full xl:w-[700px]"
                      >
                        <span
                          class="absolute -top-[6px] left-8 -z-10 hidden h-3 w-3 rotate-45 rounded-sm border-[.5px] border-r-0 border-b-0 border-[#e7e7e7] bg-white lg:block xl:left-10"
                        ></span>
                        <div class="-mx-4 flex flex-wrap lg:justify-center">
                          <div class="w-full px-4 lg:w-1/3">
                            <div>
                              <h3 class="mb-3 text-base font-semibold text-black">
                                New Arrivals
                              </h3>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Dresses
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Jackets
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Sweatshirts
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Tops & Tees
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Party Dresses
                              </a>
                            </div>
                          </div>
                          <div class="w-full px-4 lg:w-1/3">
                            <div>
                              <h3 class="mb-3 text-base font-semibold text-black">
                                New Arrivals
                              </h3>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Dresses
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Jackets
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Sweatshirts
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Tops & Tees
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Party Dresses
                              </a>
                            </div>
                          </div>
                          <div class="w-full px-4 lg:w-1/3">
                            <div>
                              <h3 class="mb-3 text-base font-semibold text-black">
                                New Arrivals
                              </h3>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Dresses
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Jackets
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Sweatshirts
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Tops & Tees
                              </a>
                              <a
                                href="filters.html"
                                class="block rounded py-2 text-sm font-medium text-body-color hover:text-primary"
                              >
                                Party Dresses
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endcomment %}
                  </ul>
                </nav>
              </div>
            </div>
            <div
              class="hidden w-full items-center justify-end space-x-4 pr-[70px] sm:flex lg:pr-0"
            >
              <div class="hidden items-center pr-1 xl:flex">
                <div
                  class="mr-3 flex h-10 w-10 items-center justify-center rounded-full border-[.5px] border-[#e7e7e7] bg-[#f4f7ff]"
                >
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.8343 12.6844C19.7655 11.8938 19.1124 11.3438 18.3218 11.3438H3.67804C2.88742 11.3438 2.26867 11.9281 2.16554 12.6844L1.44367 19.9031C1.40929 20.3156 1.54679 20.7625 1.82179 21.0719C2.09679 21.3812 2.50929 21.5531 2.95617 21.5531H19.078C19.4905 21.5531 19.903 21.3812 20.2124 21.0719C20.4874 20.7625 20.6249 20.35 20.5905 19.9031L19.8343 12.6844ZM19.2843 20.2812C19.2499 20.3156 19.1812 20.3844 19.0437 20.3844H2.95617C2.85304 20.3844 2.74992 20.3156 2.71554 20.2812C2.68117 20.2469 2.61242 20.1781 2.64679 20.0406L3.36867 12.7875C3.36867 12.6156 3.50617 12.5125 3.67804 12.5125H18.3562C18.528 12.5125 18.6312 12.6156 18.6655 12.7875L19.3874 20.0406C19.353 20.1438 19.3187 20.2469 19.2843 20.2812Z"
                      fill="#212B36"
                    />
                    <path
                      d="M11 14.0254C9.65937 14.0254 8.59375 15.091 8.59375 16.4316C8.59375 17.7723 9.65937 18.8379 11 18.8379C12.3406 18.8379 13.4062 17.7723 13.4062 16.4316C13.4062 15.091 12.3406 14.0254 11 14.0254ZM11 17.6348C10.3469 17.6348 9.79688 17.0848 9.79688 16.4316C9.79688 15.7785 10.3469 15.2285 11 15.2285C11.6531 15.2285 12.2031 15.7785 12.2031 16.4316C12.2031 17.0848 11.6531 17.6348 11 17.6348Z"
                      fill="#212B36"
                    />
                    <path
                      d="M2.26875 6.73769C2.3375 8.25019 3.67812 8.86894 4.36562 8.86894H6.77188C6.80625 8.86894 6.80625 8.86894 6.80625 8.86894C7.8375 8.80019 8.86875 8.11269 8.86875 6.73769V5.91269C10.0031 5.91269 12.6156 5.91269 13.75 5.91269V6.73769C13.75 8.11269 14.7812 8.80019 15.8125 8.86894H15.8469H18.2188C18.9062 8.86894 20.2469 8.25019 20.3156 6.73769C20.3156 6.63457 20.3156 6.25644 20.3156 5.91269C20.3156 5.63769 20.3156 5.39707 20.3156 5.36269C20.3156 5.32832 20.3156 5.29394 20.3156 5.29394C20.2125 4.33144 19.8687 3.54082 19.2844 2.92207L19.25 2.88769C18.3906 2.09707 17.3594 1.6502 16.5688 1.3752C14.2656 0.481445 11.3781 0.481445 11.2406 0.481445C9.2125 0.51582 7.90625 0.687695 5.94687 1.3752C5.19062 1.61582 4.15938 2.06269 3.3 2.85332L3.26562 2.88769C2.68125 3.50644 2.3375 4.29707 2.23438 5.25957C2.23438 5.29394 2.23438 5.32832 2.23438 5.32832C2.23438 5.39707 2.23438 5.60332 2.23438 5.87832C2.26875 6.18769 2.26875 6.60019 2.26875 6.73769ZM4.125 3.71269C4.8125 3.09394 5.67188 2.71582 6.39375 2.44082C8.18125 1.78769 9.35 1.65019 11.3094 1.61582C11.4469 1.61582 14.1281 1.6502 16.1906 2.44082C16.9125 2.71582 17.7719 3.05957 18.4594 3.71269C18.8375 4.12519 19.0781 4.67519 19.1469 5.32832C19.1469 5.43144 19.1469 5.60332 19.1469 5.87832C19.1469 6.22207 19.1469 6.60019 19.1469 6.70332C19.1125 7.49394 18.3562 7.66582 18.2531 7.66582H15.8813C15.5375 7.63144 14.9875 7.49394 14.9875 6.73769V5.32832C14.9875 5.05332 14.8156 4.84707 14.575 4.74394C14.3688 4.67519 8.35313 4.67519 8.14688 4.74394C7.90625 4.81269 7.73438 5.05332 7.73438 5.32832V6.73769C7.73438 7.49394 7.18437 7.63144 6.84062 7.66582H4.46875C4.36562 7.66582 3.60937 7.49394 3.575 6.70332C3.575 6.60019 3.575 6.22207 3.575 5.87832C3.575 5.60332 3.575 5.46582 3.575 5.36269C3.50625 4.67519 3.74688 4.12519 4.125 3.71269Z"
                      fill="#212B36"
                    />
                  </svg>
                </div>
                <div>
                  <p class="text-sm font-medium text-black">
                    Need Help?
                    <br />
                    +001 123 456 789
                  </p>
                </div>
              </div>
              <div>
                <button
                  class="relative flex h-10 w-10 items-center justify-center rounded-full border-[.5px] border-[#e7e7e7] bg-secondcolor text-dark"
                >
                  <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 11.375C10.5625 11.375 12.6563 9.28127 12.6563 6.71874C12.6563 4.15625 10.5625 2.03125 8 2.03125C5.4375 2.03125 3.34375 4.125 3.34375 6.6875C3.34375 9.25 5.4375 11.375 8 11.375ZM8 3.125C9.96872 3.125 11.5625 4.71874 11.5625 6.6875C11.5625 8.65624 9.96872 10.25 8 10.25C6.03125 10.25 4.4375 8.65624 4.4375 6.6875C4.4375 4.75 6.03125 3.125 8 3.125Z" fill="#F1F1F1"/>
                    <path d="M17.408 17C14.8142 14.7813 11.4705 13.5625 8.00177 13.5625C4.533 13.5625 1.18925 14.7813 -1.4045 17C-1.6545 17.1875 -1.68575 17.5313 -1.467 17.7813C-1.2795 18 -0.935745 18.0313 -0.685745 17.8438C1.7205 15.8125 4.81426 14.6875 8.03305 14.6875C11.2518 14.6875 14.3455 15.8125 16.7518 17.8438C16.8455 17.9375 16.9705 17.9688 17.0955 17.9688C17.2518 17.9688 17.408 17.9063 17.5018 17.7813C17.6892 17.5313 17.658 17.1875 17.408 17Z" fill="#F1F1F1"/>
                    </svg>
                    
                </button>
              </div>
  
              <div class="relative z-20">
                <div class="flex max-w-[200px] justify-end">
                  <a href="{{ routes.cart_url }}">
                  <button
                    class="relative flex h-10 w-10 items-center justify-center rounded-full border-[.5px] border-[#e7e7e7] bg-gray-300 text-dark"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M75.9957 394.624C79.8417 394.834 83.5012 398.776 83.2871 402.673C83.1498 405.171 80.8617 407.954 79.2174 409.705C79.1305 409.798 78.4573 410.49 78.4684 410.519C75.7244 412.214 73.4106 411.384 70.75 409.727C63.0119 404.907 66.8267 396.26 75.9957 394.624Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M27.6703 193.672C20.2463 189.609 22.6266 179.157 30.9717 177.764C33.1743 177.396 35.7741 177.682 38.0135 177.675L45.8441 177.644C51.6416 177.644 52.6935 180.027 54.9965 185.283C52.4736 197.141 40.1475 196.429 30.4043 194.234C29.5 194.03 28.5948 193.744 27.6703 193.672Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M376.696 302.816C384.139 303.183 386.227 309 385.309 315.223L367.174 401.925C365.557 409.571 366.499 420.072 356.622 421.73C350.872 421.517 346.542 416.745 347.699 410.828L368.675 311.495C369.769 306.937 371.78 303.659 376.696 302.816Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M290.263 303.044C296.964 302.666 299.807 307.871 299.789 313.613L299.772 406.493C299.766 413.328 300.79 420.055 292 421.731C284.508 421.686 282.462 416.701 282.391 410.369L282.359 334.506C282.347 327.154 281.971 319.641 282.395 312.317C282.674 307.488 285.425 304.073 290.263 303.044Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M218.649 303.025C228.45 302.614 229.244 310.337 229.256 318.324L229.276 395.573C229.27 403.849 232.193 418.686 222.339 421.574C215.897 422.388 211.953 418.314 211.774 412.289L211.67 311.445C211.869 307.198 214.692 304.353 218.649 303.025Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M135.902 302.82C145.672 303.996 145.867 318.122 147.328 325.474L163.974 408.011C165.031 414.926 164.269 420.516 156.166 421.469C146.85 420.642 147.192 412.114 145.751 404.75L127.8 315.508C126.741 308.992 128.76 303.808 135.902 302.82Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M80.2281 429.633C92.9299 431.073 89.3879 448.689 93.1777 457.561C99.2497 471.777 112.263 470.44 124.528 470.427L297.748 470.411C301.807 470.416 303.927 470.495 306.556 474.111L307.126 474.951L307.248 475.28C308.916 479.615 305.666 487.136 300.736 487.351L122.865 487.298C117.622 487.327 111.573 488.089 106.472 486.869C84.3962 481.587 77.3133 469.137 73.6905 449.039C72.3336 441.511 69.8661 431.651 80.2281 429.633Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M24.8107 208.904C27.634 208.793 35.4105 209.783 35.5108 213.781L35.4754 243.196L296.204 243.088C298.858 243.017 301.642 242.524 304.282 242.755C308.184 243.096 309.25 246.959 311.489 249.331C311.781 253.564 309.754 257.492 306 259.447L305.687 259.617C304.727 260.109 303.675 260.11 302.623 260.12L54.5653 259.641L54.811 260.059C55.3932 261.117 55.527 262.576 55.7737 263.75L76.2972 369.159C76.538 370.767 75.1053 372.301 74.196 373.511C69.4542 377.961 61.8174 376.852 59.8755 371.01C58.918 368.13 58.5642 364.8 57.9976 361.812L38.6397 258.529L36.9878 258.786C33.6011 259.611 28.6146 259.901 25.2724 258.88L24.0953 258.503C16.2892 255.724 18.5978 248.119 18.8009 241.894L18.6415 219.5C18.1682 212.309 17.3996 211.947 24.8107 208.904Z"/>
                      <path fill="#3D405B" transform="scale(0.0390625 0.0390625)" d="M138.41 108.965C135.029 107.226 132.116 104.49 130.617 100.954C131.292 98.0802 132.68 95.407 133.926 92.7499L151.218 55.7113C156.65 43.5702 161.258 30.1589 176 27.1857C194.324 23.4901 210.922 41.5945 205.467 59.576C204.238 63.6261 202.11 67.2712 200.388 71.108L162.798 157.885L156.38 174.148C156.032 175.171 155.918 176.235 155.585 177.253L254.39 177.845L336.01 178.59C343.734 178.602 351.883 178.044 359.531 179.148C358.502 177.143 357.743 174.906 356.879 172.82L316.152 75.7159C313.092 68.6652 309.227 61.4701 307.49 53.9498C301.617 28.526 338.816 11.7104 353.68 35.7559C356.245 39.9052 358.076 44.5643 359.986 49.0387L369.905 71.9997C373.146 78.7622 378.301 83.793 379.928 91.3248C378.794 94.0837 375.959 97.5249 373.289 98.8348C375.733 105.107 377.871 111.47 381.539 117.178C389.138 117.691 392.119 125.864 395.155 131.723L415.427 174.305C416.032 175.511 416.221 176.634 417.131 177.702L480.188 177.753C485.772 177.757 489.817 177.014 493.198 182.375L493.384 182.665C495.273 185.712 494.183 191.653 494.181 195.111L494.142 237.921C494.138 242.579 494.649 247.873 493.625 252.396L493.539 252.796C492.844 255.82 490.377 258.663 487.25 259.258L486.916 259.324C483.404 259.982 478.884 259.746 475.475 258.738L471.6 276.572L438.988 447.875C438.026 453.606 437.455 459.454 435.224 464.865C430.797 475.601 419.482 484.395 408.104 486.577C401.381 487.866 394.185 487.308 387.357 487.305L342.542 487.274C340.305 487.267 337.677 487.525 335.48 487.164C331.572 486.521 328.368 479.416 330.41 474.947C334.156 469.406 336.458 470.405 342.489 470.394L400.518 470.38C418.762 468.314 419.004 458.496 421.654 444.508L454.068 269.766C454.627 266.575 454.925 262.971 455.782 259.887L414.064 259.739L364.604 259.733C357.089 259.73 349.302 260.158 341.829 259.635C337.097 259.304 334.305 255.603 332.8 251.412L332.708 250.125C323.633 252.517 320.742 251.777 311.489 249.331C309.25 246.959 308.184 243.096 304.282 242.755C301.642 242.524 298.858 243.017 296.204 243.088L35.4754 243.196L35.5108 213.781C35.4105 209.783 27.634 208.793 24.8107 208.904L24.9065 208.608C26.5496 203.737 26.2427 198.531 27.6703 193.672C28.5948 193.744 29.5 194.03 30.4043 194.234C40.1475 196.429 52.4736 197.141 54.9965 185.283C57.366 184.416 60.3125 184.742 62.7575 184.753L77.1435 184.886C78.7515 184.909 80.6231 185.281 82.1846 185.002C84.35 177.302 97.3251 178.674 97.9922 177.429L112.91 146.189C115.886 139.765 120.568 122.764 130.695 129.014L130.601 128.206C130.038 124.234 135.224 111.232 138.41 108.965Z"/>
                      <path fill="#E07A5F" transform="scale(0.0390625 0.0390625)" d="M381.539 117.178C378.399 117.906 373.203 121.469 371.495 124.251C370.251 126.277 371.536 128.397 372.504 130.25L386.719 157.507C394.688 172.769 398.997 178.828 401.871 195.734L404.075 209.252C381.725 198.72 377.575 181.19 369.252 160L328.996 65.9405C326.903 61.4549 322.291 54.0445 323.139 48.8677L323.205 48.5C323.624 45.9978 324.939 44.0311 326.749 42.3143C334.014 35.4271 339.819 41.6607 342.702 48.468L352.397 71.1122C355.013 76.6594 358.412 81.7593 361.195 87.2107C364.855 94.3803 364.17 99.5235 373.289 98.8348C375.733 105.107 377.871 111.47 381.539 117.178Z"/>
                      <path fill="#E07A5F" transform="scale(0.0390625 0.0390625)" d="M138.41 108.965L138.674 109.026C139.932 109.299 141.11 109.261 142.387 109.222C146.48 105.354 148.647 99.2727 151.033 94.25L169.402 55.1564C171.108 51.7643 173.055 47.0947 175.875 44.5152C181.589 39.2881 190.752 44.7237 190.51 52.0938C190.432 54.4464 189.453 56.7963 188.588 58.9508L161.622 121.582L131.965 182.777C124.965 196.704 119.89 205.377 104.48 210.443C108.494 191.076 117.175 173.405 125.813 155.781L131.399 144.404C133.172 140.82 136.493 136.84 133.915 132.983L130.695 129.014L130.601 128.206C130.038 124.234 135.224 111.232 138.41 108.965Z"/>
                      <path fill="#E07A5F" transform="scale(0.0390625 0.0390625)" d="M54.9965 185.283C57.366 184.416 60.3125 184.742 62.7575 184.753L77.1435 184.886C78.7515 184.909 80.6231 185.281 82.1846 185.002C83.1342 192.483 88.1135 194.141 94.7053 195.914C92.1961 203.367 87.9299 211.801 91.761 219.624C97.9178 232.196 121.169 236.831 115.543 222.622C115.371 222.186 115.395 222.372 115.411 222.002C125.25 216.435 137.841 210.415 141.152 198.518L141.368 197.647C141.546 196.923 141.753 195.958 142.376 195.492L367.165 194.799C371.087 199.971 372.238 206.533 377.518 210.973C383.272 215.813 392.855 217.362 396.395 224.29C395.994 226.047 395.663 229.094 394.079 230.22L394.028 230.48C395.163 231.046 396.046 231.86 397.125 232.482C407.499 238.456 423.33 223.953 424.524 213.25L424.579 212.788C424.985 208.888 424.302 204.478 423.31 200.718C423.077 199.839 421.536 195.765 421.695 195.231L461.228 194.744L473.5 194.952C474.581 195.01 476.08 194.913 477.059 195.378L477.377 243.116L461.777 243.141L352.366 243.104C348.168 243.106 343.703 242.79 339.535 243.198C336.555 243.489 333.021 248.843 332.8 251.412L332.708 250.125C323.633 252.517 320.742 251.777 311.489 249.331C309.25 246.959 308.184 243.096 304.282 242.755C301.642 242.524 298.858 243.017 296.204 243.088L35.4754 243.196L35.5108 213.781C35.4105 209.783 27.634 208.793 24.8107 208.904L24.9065 208.608C26.5496 203.737 26.2427 198.531 27.6703 193.672C28.5948 193.744 29.5 194.03 30.4043 194.234C40.1475 196.429 52.4736 197.141 54.9965 185.283Z"/>
                    </svg>
  
                    <span
                      class="absolute -top-1 -right-1 h-4 w-4 rounded-full bg-primary text-[10px] font-semibold text-white"
                    >
                      1
                    </span>
                  </button>
                </a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% schema %}
  {
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "store_logo",
            "label": "Logo",
            "default": "WizHades",
            "info": "Add logo to store header"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Nav Menu",
            "default": "main-menu",
            "info": "Select menu for nav bar"
        }

    ]

    }

  {% endschema %}
  {% endcomment %}