<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap"
  rel="stylesheet"
>

<style>
  h4,
  h5,
  p,
  button,a,
  label {
    font-family: 'Kanit', sans-serif;
  }
</style>

<section class="">
  <div
    class="hero_wrapper flex h-auto w-auto justify-center"
  >
    <img height="auto" width="auto" src="https://jugaadtee.in/cdn/shop/files/solidsbanner.png?v=1705172320&width=1780">
    {% comment %}
      <h4 class="mt-auto h-fit w-fit overflow-hidden font-extralight text-center text-[80px] text-[#fcfcfc] sm:text-[100px] md:text-[180px] lg:text-[300px]">
        DAMOR
      </h4>
    {% endcomment %}
  </div>
</section>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    <h4 id="he01c" class="mb-5">New In</h4>
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["new-collection-1"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% comment %}
    <div class="p-1 h-fit w-full">
      <img class="h-auto w-full flex justify-center mx-auto" src="https://ik.imagekit.io/zemurqxma/Damor/pexels-photo-5191436.jpeg_auto=compress&cs=tinysrgb&w=800&lazy=load?updatedAt=1699777876005">
      <div class="flex">
        <p class="flex flex-grow text-[0.7rem] font-extralight">DAMOR</p>
        <p class="text-[0.7rem] font-extralight">INR 4,500</p>
      </div>
      <h4 class="text-[0.9rem] font-extralight pt-1">LIGHT OLIVE OXFORD SHIRT </h4>
    </div>
  {% endcomment %}
  {% for product in collections['new-collection-1'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">THEGOGH</h4>
  </div>
</div>
<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">THEGOGH</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["new-collection-1"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections.thegogh.products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">NINJA CLAN</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">NINJA CLAN</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["ninja-clan"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['ninja-clan'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">BOXED</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">BOXED</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["boxed-collection"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['boxed-collection'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">LOST IN THOUGHTS</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %}<h4 id="he01c" class="mb-5">LOST IN THOUGHTS</h4>{% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["new-collection-1"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['lost-in-thoughts'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">PREMIUMS</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">PREMIUMS</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["premiums-bucket"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['premiums-bucket'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">REGULAR COMFORTS</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">REGULAR COMFORTS</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["new-collection-1"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['regular-comforts'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">MOVIE FEAST</h4>
  </div>
</div>

<!-- Product Grid -->
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-gray-500"
>
  <div id="tc02p" class="p-4 w-full h-fit">
    {% comment %} <h4 id="he01c" class="mb-5">MOVIE FEAST</h4> {% endcomment %}
    <a
      id="be02c"
      class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
      href="{{ collections["new-collection-1"].url }}"
      ><label class="cursor-pointer">View All</label></a
    >
  </div>
  {% for product in collections['movie-feast'].products limit: 5 %}
    <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
      <a href="{{ product.url }}">
        <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
        <div class="flex">
          <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
          <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
        </div>
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
          Sale Price :
          <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
        </h4>
      </a>
    </div>
  {% endfor %}
</section>
<!-- Product Grid End -->

<!-- collections grid -->
<div class="pt-4 bg-[#fcfcfc]">
  <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
    <h4 class=" text-white font-extralight text-[1.4rem]">SHOP THE COLLECTIONS</h4>
  </div>
</div>
<section
  id="ps01r"
  class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 divide-x-[1px] divide-y-[1px] divide-gray-500 border border-b-0 border-gray-500"
>
  <!-- Collection Card -->
  <a href="{{ collections['boxed-collection'].url }}">
    <div class="p-1 h-fit w-full p-5">
      <img
        class="h-auto w-full flex justify-center mx-auto"
        src="{{ collections['boxed-collection'].featured_image | image_url }}"
      >
      <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections['boxed-collection'].title | upcase }}</h4>
      <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
    </div>
  </a>
  <!-- Collection Card end -->
  <a href="{{ collections['ninja-clan'].url }}">
    <div class="p-1 h-fit w-full p-5">
      <img
        class="h-auto w-full flex justify-center mx-auto"
        src="{{ collections['ninja-clan'].featured_image | image_url }}"
      >
      <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections['ninja-clan'].title | upcase }} COLLECTION</h4>
      <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
    </div>
  </a>
  <a href="{{ collections['regular-comforts'].url }}">
    <div class="p-1 h-fit w-full p-5">
      <img
        class="h-auto w-full flex justify-center mx-auto"
        src="{{ collections['regular-comforts'].featured_image | image_url }}"
      >
      <h4 class="text-[0.9rem] font-extralight pt-1">
        {{ collections['regular-comforts'].title | upcase }} COLLECTION
      </h4>
      <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
    </div>
  </a>
  <a href="{{ collections['thegogh'].url }}">
    <div class="p-1 h-fit w-full p-5">
      <img
        class="h-auto w-full flex justify-center mx-auto"
        src="{{ collections['thegogh'].featured_image | image_url }}"
      >
      <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections.thegogh.title | upcase }}</h4>
      <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
    </div>
  </a>

  <div class="p-1 h-fit w-full p-5">
    <img
      class="h-auto w-full flex justify-center mx-auto"
      src="{{ collections['unhide'].featured_image | image_url }}"
    >
    <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections.unhide.title | upcase }}</h4>
    <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">LAUNCHING SOON</h4>
  </div>

  <div class="p-1 h-fit w-full p-5">
    <img
      class="h-auto w-full flex justify-center mx-auto"
      src="{{ collections['jugaad-basics'].featured_image | image_url }}"
    >
    <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections['jugaad-basics'].title | upcase }}</h4>
    <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">LAUNCHING SOON</h4>
  </div>

  <a href="">
    <div class="p-1 h-fit w-full p-5">
      {% comment %}
        <img
          class="h-auto w-full flex justify-center mx-auto"
          src="{{ collections['premiums-bucket'].featured_image | image_url }}"
        >
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections['premiums-bucket'].title | upcase }}</h4>
        <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
      {% endcomment %}
    </div>
  </a>
  <a href="">
    <div class="p-1 h-fit w-full p-5">
      {% comment %}
        <img
          class="h-auto w-full flex justify-center mx-auto"
          src="{{ collections['movie-feast'].featured_image | image_url }}"
        >
        <h4 class="text-[0.9rem] font-extralight pt-1">{{ collections['movie-feast'].title | upcase }}</h4>
        <h4 class="text-[0.7rem] font-extralight pt-1 mb-2">SHOP THESE</h4>
      {% endcomment %}
    </div>
  </a>
</section>

<!-- collections gird end -->

<!-- Brand Line -->

<section class="w-screen border border-t-0 border-gray-500 bg-[#ecebe9]">
  <div class="divide grid grid-cols-1 divide-x-[1px] divide-y-[1px] divide-gray-500 sm:grid-cols-2">
    <div class="w-full p-5 border-t-[1px] border-gray-500">
      <img
        class="h-auto w-full p-4"
        src="https://jugaadtee.in/cdn/shop/files/st.png?v=1705434167&width=1780"
      >
    </div>
    <div class="w-full p-5 h-auto flex items-center">
      <div class="p-4">
        <h4 class="text-[1.4rem] font-light">Our Story :</h4>
        <h6 class="mt-4 text-[0.9rem] font-extralight md:w-[50%]">
          Born from a passion for emotional expression, our tees speak volumes without uttering a word. Committed to
          quality comfort and trendsetting style, we're the playful pioneers of wearable emotions.

          Join the Jugaad family and let your wardrobe tell stories that resonate with your heart.

          Life's too short for bland attire—embrace the joy of self-expression with us!
        </h6>
        <div class="mt-6">
          <a href="/pages/about-us" class="">
            <h6 class="h-fit w-fit border border-gray-500 px-4 py-2 text-[0.9rem] font-extralight rounded-full">
              Read More
            </h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Brand Line End -->
