{% comment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap" rel="stylesheet">
{% endcomment %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap"
  rel="stylesheet"
>

<style>
  h4,
  h5,
  p,
  button,
  a,
  label {
    font-family: 'Kanit', sans-serif;
  }

  .price-wrapper{
    position: relative; 
    display: inline-block;
  }
  
  .price-slash{
    position: relative;
    width: 100%;
    height: 0;
    border-top: 2px solid red;
    transform: rotate(-16deg);
    top: 10px;
  }
  

  .product-form__error-message-wrapper:not([hidden]) {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .product-form__error-message-wrapper svg {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
  }
  .product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 1.2rem;
    max-width: 44rem;
    min-width: fit-content;
    border: none;
  }
  variant-radios,
  variant-selects {
    display: block;
  }

  .product-form__input .form__label {
    padding-left: 0;
  }
  fieldset.product-form__input .form__label {
    margin-bottom: 0.2rem;
  }
  .product-form__input input[type='radio'] {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }
  .product-form__input input[type='radio'] + label {
    border: 0.05rem solid black;
    color: black;

    color: black;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    text-align: center;
    transition: border 10s ease;
    cursor: pointer;
    position: relative;
  }
  .product-form__input input[type='radio'] + label:before {
    content: '';
    position: absolute;
    top: calc(var(--variant-pills-border-width) * -1);
    right: calc(var(--variant-pills-border-width) * -1);
    bottom: calc(var(--variant-pills-border-width) * -1);
    left: calc(var(--variant-pills-border-width) * -1);
    z-index: -1;
    border-radius: var(--variant-pills-radius);
    box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
      var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
  }
  .product-form__input input[type='radio'] + label:hover {
    border-color: rgb(var(--color-foreground));
  }
  .product-form__input input[type='radio']:checked + label {
    background-color: black;
    color: white;
  }
  .product-form__input input[type='radio']:not(.disabled) + label > .visually-hidden {
    display: none;
  }
  @media screen and (forced-colors: active) {
    .product-form__input input[type='radio']:checked + label {
      text-decoration: underline;
    }
  }
  .product-form__input input[type='radio']:checked + label::selection {
    background-color: rgba(var(--color-background), 0.3);
  }
  .product-form__input input[type='radio']:disabled + label,
  .product-form__input input[type='radio'].disabled + label {
    border-color: rgba(var(--color-foreground), 0.1);
    color: rgba(var(--color-foreground), 0.6);
    text-decoration: line-through;
  }
  .product-form__input input[type='radio'].disabled:checked + label,
  .product-form__input input[type='radio']:disabled:checked + label {
    color: rgba(var(--color-background), 0.6);
  }
  .product-form__input input[type='radio']:focus-visible + label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
  }
  .product-form__input input[type='radio'].focused + label,
  .no-js .shopify-payment-button__button [role='button']:focus + label {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
  }
  .no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
    box-shadow: none;
  }
  .product-form__input .select {
    max-width: 25rem;
  }
  .product-form__submit {
    margin-bottom: 1rem;
  }
  .no-js .product-form__submit.button--secondary {
    --color-button: inherit;
    --color-button-text: inherit;
    --alpha-button-background: 1;
  }
  .product-form__submit[aria-disabled='true'] + .shopify-payment-button .shopify-payment-button__button[disabled],
  .product-form__submit[disabled] + .shopify-payment-button .shopify-payment-button__button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media screen and (forced-colors: active) {
    .product-form__submit[aria-disabled='true'] {
      color: Window;
    }
  }
</style>

{%- assign product_form_id = 'product-form-' | append: section.id -%}
{%- assign p_form_id = 'product_form_' | append: product.id -%}

{% form 'product', product %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

  <section class="w-screen sm:h-screen bg-[#fcfcfc]">
    <div class="grid grid-cols-1 sm:grid-cols-2 w-screen sm:h-screen overflow-y-auto ">
      <div class="hidden sm:flex sm:flex-col w-full sm:h-screen">
        {% for media in product.media %}
          {% render 'productmedia', media: media %}
        {% endfor %}
      </div>
      <!-- Mobile Version Media Rendering -->
      <div id="custom-scrollbar" class="flex sm:hidden w-full overflow-x-scroll">
        {% for media in product.media %}
          {% render 'productmedia', media: media %}
        {% endfor %}
      </div>
      <!-- Mobile Version End -->

      <div class="overflow-y-auto sm:my-auto mt-3 ml-4 mr-4 mb-2 sm:mx-auto sm:sticky sm:top-[25vh]">
        <h4 class="text-[0.9rem] sm:text-[1rem] md:text-[1.5rem] font-extralight">
          {{ product.title | upcase }}
        </h4>
        <div class="flex">
          <div class="price-wrapper">
            <div class="price-slash"></div>
          <div class="w-fit h-fit"><h6 class="price text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight"> INR {{ product.compare_at_price | money_without_currency }}</h6></div>
     
          </div>
        <div id="price-{{ section.id }}" class="ml-2">
          <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight ">
            INR {{ product.selected_or_first_available_variant.price | money_without_currency }}
          </h4>
        </div>
      </div>
      <div class="">
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit px-2 py-1">
          Sale Price : <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}} </b>
        </h4>
        <h6 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight py-1 ml-2 mt-4 text-red-600">
          &#8226; Celebrations Sale - Use Code "GET50"
        </h6>
      </div>
        <div class="tabssec min-h-[70px] sm:min-h-[100px] mt-4 mb-20 sm:mt-10 sm:mb-14 w-full sm:w-[350px] mb-4 text-[0.5rem] sm:text-[0.7rem] md:text-[0.9rem] font-extralight text-black">
          {% render 'info-tab', product: product %}
        </div>
        <div clas=" h-[100px] mt-20">
          <div class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight">
            {% render 'product-variant-picker', product: product, product_form_id: product_form_id %}
          </div>
        </div>
        <button
          type="submit"
          name="add"
          class="add-item relative md:bg-transparent md:transition-colors md:before:absolute md:before:left-0 md:before:top-0 md:before:-z-10 md:before:h-full md:before:w-full md:before:origin-top-left md:before:scale-x-0 md:before:bg-black md:before:transition-transform md:before:duration-300 md:before:content-[''] md:hover:text-white md:before:hover:scale-x-100 w-full mt-5 py-2 border border-gray-500 text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight "
        >
          Add to bag
        </button>
      </div>
    </div>
  </section>
{% endform %}

<div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <div class="h-[50px] border border-b-0 border-gray-500 flex items-center">
        <h4 class="pl-4 text-[0.5rem] sm:text-[0.7rem] md:text-[0.9rem] font-extralight">You may also like</h4>
      </div>
    {% elsif recommendations.intent == 'complementary' %}
      <div class="h-[30px] sm:h-[50px] border border-b-0 border-gray-500 flex items-center">
        <h4 class="pl-4 text-[0.5rem] sm:text-[0.7rem] md:text-[0.9rem] font-extralight">Pair it with</h4>
      </div>
    {% endif %}

    <section
      id="ps01r"
      class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-4 border-y-[1px] border-gray-500"
    >
      {%- for product in recommendations.products -%}
        <div class="p-1 h-fit w-full border-b-[1px] border-r-[1px] border-gray-500">
          <a href="{{ product.url }}">
            <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
            <div class="flex">
              <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
              <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
            </div>
            <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
            <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
              Sale Price : <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}} </b>
            </h4>
          </a>
        </div>
        {% comment %}
          <div class="product">

              <img
                class="product__img"
                src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
                alt="{{ product.featured_image.alt }}"
              >

              <p class="product__title">{{ product.title }}</p>
              <p class="product__price">{{ product.price | money }}</p>

          </div>
        {% endcomment %}
      {%- endfor -%}
    </section>
  {%- endif -%}
</div>

{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;

    observer.unobserve(productRecommendationsSection);

    const url = productRecommendationsSection.dataset.url;

    fetch(url)
      .then((response) => response.text())
      .then((text) => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');

        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;
        }
      })
      .catch((e) => {
        console.error(e);
      });
  };

  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, { rootMargin: '0px 0px 200px 0px' });

  observer.observe(productRecommendationsSection);
{% endjavascript %}

<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener('change', this.onVariantChange);
    }

    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();

      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }

    getSelectedOptions() {
      const selectedRadioButtons = document.querySelectorAll('input[type="radio"]:checked');

      // Use Array.from to convert the NodeList to an array and map the values
      this.options = Array.from(selectedRadioButtons).map((radio) => radio.value);

      // Log the array of selected values
      console.log(this.options);
    }

    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }

    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find((variant) => {
        const findings = !variant.options
          .map((option, index) => {
            return this.options[index] === option;
          })
          .includes(false);

        if (findings) return variant;
      });

      console.log(this.currentVariant);
    }

    updateURL() {
      if (!this.currentVariant) return;
      window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
    }

    updateFormID() {
      const form_input = document.querySelector('#{{ p_form_id }}').querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }

    updatePrice() {
      fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
          const id = `price-${this.dataset.section}`;
          const html = new DOMParser().parseFromString(responseText, 'text/html');

          const oldPrice = document.getElementById(id);
          const newPrice = html.getElementById(id);

          if (oldPrice && newPrice) {
            oldPrice.innerHTML = newPrice.innerHTML;
          }
        });
    }
  }
  customElements.define('variant-radios', VariantSelector);
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>
