{% if cart.item_count > 0 %}
    
        <div class="container max-w-scree mx-auto mt-10">
          <form action="{{ routes.cart_url }}" method="POST" novalidate>
          <div class="flex flex-col lg:flex-row shadow-md my-10">
            <div class="w-full lg:w-3/4 bg-white lg:px-10 py-10">
              <div class="flex justify-between border-b pb-8 px-2">
                <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl">{{ cart.item_count }} Items</h2>
              </div>
              <div class="hidden md:flex mt-10 mb-5">
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                
              </div>
              <div class="flex flex-col">
              {% for item in cart.items %}
              <div class="flex lg:flex-row items-center w-screen -mx-4 px-6 py-5">
                <div class="flex w-fit lg:w-2/5"> <!-- product -->
                
                  <div class="w-20">
                    <img class="h-24" src="{{ item.image | image_url }}" alt="">
                  </div>
                  <div class="flex flex-col justify-between ml-4 flex-grow">
                    <span class="font-bold text-sm">{{ item.product.title }} </span>
                    <span class="text-red-500 text-xs">{{ item.variant.title }}</span>
                    <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                  </div>
                </div>
                <div class="flex justify-center w-1/5 lg:w-1/4">
                  {% assign counter = item.quantity %}
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity= {{- counter | minus : 1 -}}" >
                  <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                    <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/>
                  </svg>
                </a>
      
                  <input class="mx-2 border text-center w-8" type="number" value="{{ item.quantity }}" min="1" id="updatequantity_{{ forloop.index }}" disabled>

                  
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{- counter | plus : 1 -}}" >
                  <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                    <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c-17.67 0-32 14.33-32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                  </svg>
                </a>
                </div>
                <span class="text-center w-fit lg:w-1/4 font-semibold text-sm pl-4 md:pl-0">{{ item.line_price | money }}</span>
                
              </div>
             {% endfor %}
             </div>
            </div>
      
            <div id="summary" class="w-full bg-gray-100 lg:w-1/4 px-4 lg:px-8 py-10">
              <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
              <div class="flex justify-between mt-10 mb-5">
                <span class="font-semibold text-sm uppercase">Items {{ cart.item_count }}</span>
                <span class="font-semibold text-sm">{{ cart.total_price | money }}</span>
              </div>
              
              <div>
                <label class="font-medium inline-block mb-3 text-sm uppercase">note: shipping and tax will be calculated at checkout</label>
              </div>
              {% comment %}
              <div class="py-10">
                <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
                <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
              </div>
              <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase w-full">Apply</button>
            {% endcomment %}
              <div class="border-t mt-8">
                <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                  <span>Total cost</span>
                  <span>{{ cart.total_price | money }}</span>
                </div>
                <button type="submit" name="checkout" class="bg-maincolor font-semibold hover:bg-gray-100 hover:border hover:border-maincolor py-3 text-sm text-white hover:text-maincolor uppercase w-full">Checkout</button>
                <a href="{{ routes.all_products_collection_url }}" class="flex font-semibold text-maincolor text-sm mt-10">
                    <svg class="fill-current mr-2 text-maincolor w-4" viewBox="0 0 448 512">
                      <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/>
                    </svg>
                    Continue Shopping
                  </a>
              </div>
            </div>
      
          </div>
        </form>
        </div>
      

{% else %}
<div class="my-40 mx-auto flex flex-col items-center justify-center">
    <div class="p-6">
        <div class="min-h flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100">
            <path fill="#5C3A3A" transform="scale(0.195312 0.195312)" d="M260.926 381.507L432.25 381.505C433.103 381.518 433.998 381.567 434.765 381.975L435.035 382.125C441.025 385.321 439.985 392.586 433.967 394.775L433.625 394.894C432.319 395.36 430.954 395.254 429.586 395.254L336.938 395.242L172.417 395.293C170.086 395.338 166.994 395.746 164.814 394.875L164.5 394.741C156.393 391.436 158.794 382.237 165.375 381.571C168.63 381.241 172.163 381.499 175.44 381.498L260.926 381.507Z"/>
            <path fill="#5C3A3A" transform="scale(0.195312 0.195312)" d="M22.6529 68.6045L71.5861 68.5195C91.3056 68.5386 109.327 75.2969 116.55 95.4733C118.659 101.364 119.575 107.703 120.613 113.851L124.745 136.25C125.314 139.039 125.727 142.042 126.512 144.768L484.546 144.839C489.644 144.864 497.988 145.006 495.841 153.17L442.131 346.671C439.857 354.684 440.357 356.901 431.006 356.776L168.307 356.835C167.412 357.602 167.25 358.967 166.626 359.963C163.952 364.225 158.234 363.935 153.779 364.915C119.642 372.426 119.451 421.358 150.75 429.685C154.146 430.589 157.85 430.906 161.339 431.34C163.34 426.792 165.293 422.514 168.446 418.609C182.144 401.649 205.347 400.511 221.835 413.993L226.358 418.596C227.678 420.208 229.007 421.916 229.989 423.76L230.16 424.087C231.14 425.929 231.75 427.952 232.084 430.008L334.573 430.39C337.259 430.392 340.724 430.807 343.33 430.294L346.496 424.013C360.676 398.454 396.307 398.965 411.007 422.942C411.927 424.443 412.98 426.199 413.42 427.921L413.576 428.541C414.319 431.01 415.04 430.242 417.53 430.294L436.117 430.384C441.501 430.401 447.023 429.437 447.462 436.756C447.98 445.403 437.263 444.149 432.159 444.144L415.524 444.25C415.603 450.403 413.176 456.361 409.958 461.5C391.248 491.371 343.228 478.464 342.141 444.191L233.971 444.213C232.571 458.427 225.684 469.867 211.827 475.334C205.815 477.706 199.094 479.149 192.66 478.079L188.07 477.143C173.165 473.026 161.738 460.244 159.918 444.777C105.589 444.668 94.7477 363.637 152.93 351.184L105.932 106.317C103.099 94.2664 94.8136 84.4606 82.1242 82.4203C75.6061 81.3723 68.3501 81.9676 61.7505 81.9721L23.9023 81.9943C22.5641 81.9927 21.1552 82.1656 19.9769 81.4208L19.75 81.2742C13.3014 77.5902 15.6599 69.1578 22.6529 68.6045Z"/>
          </svg>
        </div>
        <div class="min-h flex items-center justify-center">
      <h5 class="mb-2 block w-200 font-sans text-2xl leading-snug tracking-normal text-blue-gray-900 antialiased">
        Your cart is empty
      </h5>
    </div> 
    </div>
    <div class="p-6 pt-0">
      <a
        class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-pink-500"
        href="{{ routes.all_products_collection_url }}"
      >
        <button
            class="bg-maincolor py-4 px-6 text-xs uppercase text-white hover:bg-white hover:border hover:border-maincolor hover:text-maincolor transition-all hover:shadow-maincolor active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
            type="button"
            data-ripple-light="true"
          >
            <a class="flex items-center" href="{{ routes.all_products_collection_url }}">
              <span>Continue Shopping</span></a>
          </button>
      </a>
    </div>
</div>
{% endif %}