<section class="collectionPage">
  <div class="collection_head_wrapper border-b-[1px] border-gray-500">
    <div class="grid w-screen grid-cols-1 md:grid-cols-2 divide-x-[1px] divide-y-[1px] md:divide-y-0 divide-gray-500">
      <div class="featureImage_wrapper">
        <img
          class="h-auto"
          src="{{ collection.featured_image | image_url }}"
        >
      </div>
      <div class="description_wrapper bg-[#f7f6f3]">
        <div class="wrapper_content mt-4 ml-4 p-4 md:p-8">
          <h3 class="mt-8 md:mt-16 text-[1rem] sm:text-[1.4rem] md:text-[1.8rem] font-normal">
            {{ collection.title | upcase }}
          </h3>
          <h6 class="mt-6 md:mt-10 text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">
            {{ collection.metafields.custom.collectionslogan }}
          </h6>
          <p class="text-[0.4rem] sm:text-[0.6rem] md:text-[0.8rem] font-light">
            {{ collection.metafields.custom.info }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="collection_title_wrapper">
    <div class="w-screen grid grid-cols-1 md:grid-cols-3 divide-x-[1px] divide-y-[1px] md:divide-y-0 divide-gray-500">
      <div class="wrapper_title col-span-2 p-4">
        <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-light">Products</h4>
      </div>
      <div class="filters_wrapper flex p-4"></div>
    </div>
  </div>
  <div class="collectionItems_wrapper">
    <section
      id="ps01r"
      class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-3 border-y-[1px] border-gray-500"
    >
      {% for product in collection.products %}
        <div class="p-1 h-auto w-full border-b-[1px] border-r-[1px] border-gray-500">
          <a href="{{ product.url }}">
            <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
            <div class="flex">
              <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
              <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
            </div>
            <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
            <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
              Sale Price :
              <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
            </h4>
          </a>
        </div>
      {% endfor %}
    </section>
  </div>

  <!-- collections grid -->
  <div class="pt-4 bg-[#fcfcfc]">
    <div class="sectitle w-full h-fit py-1 bg-black flex items-center justify-center">
      <h4 class=" text-white font-extralight text-[1.4rem]">Collection You Might Like</h4>
    </div>
  </div>

  <section
    id="ps01r"
    class="bg-[#fcfcfc] grid grid-cols-2 sm:grid-cols-3 border-y-[1px] border-gray-500"
  >
    {% for product in collections[collection.metafields.custom.recommended].products limit: 5 %}
      <div class="p-1 h-auto w-full border-b-[1px] border-r-[1px] border-gray-500">
        <a href="{{ product.url }}">
          <img class="h-auto w-full flex justify-center mx-auto" src="{{ product.featured_image | image_url }}">
          <div class="flex">
            <p class="flex flex-grow text-[0.7rem] font-extralight">JUGAAD</p>
            <p class="text-[0.7rem] font-extralight">INR {{ product.price | money_without_currency }}</p>
          </div>
          <h4 class="text-[0.9rem] font-extralight pt-1">{{ product.title | upcase }}</h4>
          <h4 class="text-[0.6rem] sm:text-[0.8rem] md:text-[1rem] font-extralight text-green-600 bg-green-200 w-fit my-2 px-2 py-1">
            Sale Price :
            <b> INR {{ product.metafields.custom.customprice | minus: product.metafields.custom.discount -}}</b>
          </h4>
        </a>
      </div>
    {% endfor %}
    <div id="tc02p" class="p-4 w-full h-auto border-b-[1px] border-r-[1px] border-gray-500">
      {% comment %} <h4 id="he01c" class="mb-5">New In</h4> {% endcomment %}
      <a
        id="be02c"
        class="border border-gray-400 w-fit h-fit px-4 py-2 cursor-pointer"
        href="{{ collections[collection.metafields.custom.recommended].url }}"
        ><label class="cursor-pointer">View All</label></a
      >
    </div>
  </section>
</section>
